@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3vw;
}

.container {
    display: flex;
    width: 60%;
    margin: 10% auto;
}
.image {
    width: 40%;
}
.image img{
    width: 100%;
}

.text {
    margin: 0 10%;
    width: 60%;
    font-weight: unset;
}
h6 {
    font-weight: unset;
    text-align: center;
}

